/*

!/.agents
!/.changes
!/.deploy
!/.deploy/*
/.deploy/logs
!/.github
!/.mirror
!/.mirror/*
/.mirror/changes

!/bin
!/docs
!/src
!/tests

!.editorconfig
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.mailmap

!/CHANGES*
!CLAUDE.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!Cargo.lock
!Cargo.toml
!LICENSE
!README.md
!/RELEASE*
!run
